@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 43% 93%;
    --foreground: 262 40% 20%;
    --card: 285 43% 96%;
    --card-foreground: 262 40% 20%;
    --popover: 285 43% 96%;
    --popover-foreground: 262 40% 20%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 40% 88%;
    --secondary-foreground: 262 52% 30%;
    --muted: 285 40% 88%;
    --muted-foreground: 262 30% 50%;
    --accent: 231 51% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 30% 85%;
    --input: 285 30% 85%;
    --ring: 262 52% 47%;
    --radius: 0.8rem;
    --chart-1: 262 52% 47%;
    --chart-2: 231 51% 51%;
    --chart-3: 285 40% 70%;
    --chart-4: 262 40% 60%;
    --chart-5: 231 40% 70%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 262 25% 10%;
    --foreground: 285 43% 93%;
    --card: 262 25% 12%;
    --card-foreground: 285 43% 93%;
    --popover: 262 25% 10%;
    --popover-foreground: 285 43% 93%;
    --primary: 262 52% 67%;
    --primary-foreground: 262 52% 10%;
    --secondary: 262 25% 20%;
    --secondary-foreground: 285 43% 93%;
    --muted: 262 25% 20%;
    --muted-foreground: 285 20% 70%;
    --accent: 231 51% 61%;
    --accent-foreground: 231 51% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 25% 20%;
    --input: 262 25% 20%;
    --ring: 262 52% 67%;
    --chart-1: 262 52% 67%;
    --chart-2: 231 51% 61%;
    --chart-3: 285 40% 50%;
    --chart-4: 262 40% 40%;
    --chart-5: 231 40% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
